body {
    background-image: url(../CSS/img/Fondo/fondo2.webp);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    color: #00ff99;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;  /* Esto evitará que el fondo se mueva */
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilo del encabezado */
h1 {
    font-size: 1.5rem;
    color: #1a0936;
    text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo del formulario */
form {
    background-color: #1a0936;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff99, 0 0 40px #00ff99;
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* Estilo de las etiquetas */
label {
    font-size: 0.8rem;
    margin-bottom: 5px;
    color: #00ff99;
    text-shadow: 0 0 5px #00ff99;
}

/* Estilo de los campos de texto y select */
input[type="text"], select {
    background-color: #0f0528;
    border: 2px solid #00ff99;
    border-radius: 5px;
    color: #00ff99;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    margin-bottom: 20px;
    outline: none;
    box-shadow: inset 0 0 10px #00ff99;
    transition: all 0.3s ease;
}

/* Estilo de los campos cuando están en foco */
input:focus, select:focus {
    box-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
}

/* Estilo del botón */
button {
    background-color: #00ff99;
    color: #0f0528;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

/* Efecto hover en el botón */
button:hover {
    background-color: #0f0528;
    color: #00ff99;
    border: 2px solid #00ff99;
    box-shadow: 0 0 20px #00ff99, inset 0 0 10px #00ff99;
}

/* Estilo para mensajes de error */
span {
    color: red;
    text-shadow: 0 0 10px #ff7700, 0 0 20px #ff7700;
    display: block;
}

/* Estilos de SweetAlert con efectos neón */
.popup-neon {
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 0, 230, 0.8), 0 0 30px rgba(255, 0, 230, 0.8), 0 0 45px rgba(255, 0, 230, 0.8);
}

.title-neon {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    color: #ff00e6;
    text-shadow: 0 0 10px rgba(255, 0, 230, 0.8), 0 0 20px rgba(255, 0, 230, 0.8), 0 0 30px rgba(255, 0, 230, 0.8);
}

.content-neon {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.6);
}

.footer-neon {
    font-family: 'Courier New', Courier, monospace;
    color: #ff00e6;
    text-shadow: 0 0 10px rgba(255, 0, 230, 0.6), 0 0 20px rgba(255, 0, 230, 0.6);
}

.swal2-confirm {
    font-family: 'Orbitron', sans-serif;
    background: #ff00e6;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 15px rgba(255, 0, 230, 0.8);
    transition: all 0.3s ease;
}

.swal2-confirm:hover {
    background: #ff1aff;
    box-shadow: 0 0 20px rgba(255, 0, 230, 0.8);
}

